:root {
  --accent-dark: #00d42e;
  --accent-light: #d2ead7;
  --bg-dark: #060606;
  --bg-light: #e5cdcd;
}
body {
  padding: 0;
  margin: 0;
}
.TodoList {
  text-align: center;
}

.TodoList .item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.TodoList .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.TodoList input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
  color: aqua;
}

.TodoList button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.TodoList .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}
.layout {
  background-color: var(--bg-light);
  color: black;
  height: 100vh;
  padding: 1rem 0.5rem;
}
.layout.dark {
  background-color: var(--bg-dark);
  color: white;
}
h1 {
  margin-bottom: 10px;
}
.btn-link {
  color: var(--accent-light);
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: transparent;
  /* width: 100%; */
  margin-bottom: 0.7rem;
  cursor: pointer;
}

