.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.container_anime {
  display: flex;
  justify-content: space-around;
  height: 120px;
  width:250px;
  background: linear-gradient(90deg,
  rgb(250, 247, 255) 0%,
  rgba(199, 164, 222, 0.427) 100%);
  margin: 5px;
}
